body {
    /*background-color: lightgray;*/
    font-family: Arial;
    margin: 0px;
    padding: 0px;
} #topContainer, #mainDiv, #footerDiv {
    width: 100%;
    float: left;
} #topContainer {
	background-image: url(../../img/top_bar.png);
	background-repeat: repeat-x;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0px solid black;
    border-bottom-width: 1px;
    height: 18px;
} #navBar {
    margin-right: 4px;
    float: right;
    font-size: 14px;
} #notasLogo {
    margin-left: 4px;
    float: left;
    font-size: 14px;
} #footerDiv {
    text-align: center;
}