body {
    background-color: lightblue;
    font-family: Arial;
    color: black;
    margin: 0px;
    padding: 0px;   
} #topContainer {
	position: absolute;
	width: 100%;
    top: 0px;
    left: 0px;
    background-image: url(../../img/top_bar.png);
    background-repeat: repeat-x;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0px solid black;
    border-bottom-width: 1px;
    height: 18px;
    font-size: 14px;
} #actionBar {
    position: absolute;
    top: 0px; /*important*/
    left: 8px;
} .actionBarItem {
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: default;
} .actionBarItem:hover {
    background-color: blue;
    color: white;
} .actionBarItemList {
    color: black;
    position: absolute;
    /*top: 4px;
     left: -1px;*/
    list-style-type: none; /*disk*/
	/*list-style-position: inside;*/
    background-color: white;
    border: 1px solid gray;
    padding: 2px;
    padding-left: 0px;
    padding-right: 0px;
} .miniNota {
	font-family: arial;
	font-size: 10px;
	padding-left: 8px;
	padding-right: 8px;
}

li {
    padding-bottom: 2px;
	padding-top: 2px;
    padding-left: 20px;
    padding-right: 10px;
}

li:hover {
    background-color: blue;
    color: white;
}
